
<!DOCTYPE html>
{% extends "base.html" %}
{% block right %}


<body>
    <p>
        <h1>选择数据集</h1>
    </p>
    <p>
        <h3>目前已上传的Excel数据集文件有</h3>
    </p>



<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>数据集文件名</th>
            <th>数据集文件大小</th>
            <th>数据集文件类型</th>
        </tr>
    </thead>
    <tbody>
    {% for row in results %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
        </tr>
    {% endfor %}

    </tbody>


</table>
</body>

</html>
{%endblock%}